.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-family : sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}
.row{
    margin-top : 5px;
    display :flex;
    gap : 5px;
}

.button{
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}


.button:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

.text{
    padding:5px 10px;
    text-align :end;
    font-size : 2em;
    width : 600px;
    height : 100px;
    border-radius : 20px;
    border : 1px solid gray;
}